@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  font-weight: 500;
  color: black;
}

.logo {
  width: 65px;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

li {
  padding: 20px;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}

.humburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  background-color: black;
}

/* about */

.about {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.about-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 150px;
  grid-gap: 170px;
  width: 55%;
  padding-bottom: 40px;
}

.heading-box {
  width: 355px;
}

.s {
  position: relative;
  top: 20px;
}

.heading-box > h1 {
  font-size: 45px;
  margin-top: 30px;
  font-weight: 400;
}

.span {
  width: 460px;
  margin-top: 60px;
}

.span > span {
  line-height: 30px;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  margin-top: 30px;
}

.three {
  display: flex;
  flex-direction: column;
}

.one,
.two,
.three > h4 {
  font-size: 20px;
}

.one,
.two,
.three > span {
  font-size: 16px;
  width: 100px;
}

.one > span {
  position: relative;
  top: 13px;
  line-height: 30px;
}

.two > span {
  position: relative;
  top: 13px;
  line-height: 30px;
}

.one,
.two {
  width: 191px;
}

input {
  width: 40em;
  height: 50px;
  padding: 16px;
  margin-top: 30px;
  background-color: #e3e3e3;
  border: 1px;
  outline: none;
}

button {
  margin-top: 20px;
  width: 170px;
  height: 50px;
  background-color: #ccadad;
  border: 1px solid #ccadad;
  color: white;
  font-family: "Montserrat";
  font-weight: 900;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  opacity: 0.8;
  transition: 0.7s;
}

/* Hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.list-item > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-item > li > span {
  margin-top: 10px;
}

.list-item > li > img {
  width: 20px;
}

.list-item > li:hover {
  text-decoration: none;
}

.image-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 18px;
  width: 1270px;
  margin: auto;
  margin-top: 35px;
}

.one-i > img {
  width: 300px;
  height: 350px;
  object-fit: cover;
}

.one-i {
  box-shadow: 2px 3px 6px 1px lightgrey;
  height: 435px;
  cursor: pointer;
}

.one-i > h3 {
  padding-bottom: 18px;
  margin-top: 12px;
  margin-left: 20px;
  font-size: 15px;
}

.one-i > span {
  margin-left: 20px;
  padding-bottom: 10px;
  font-size: 17px;
}


/* Media Query */

@media screen and (max-width: 767px) {
  nav {
    justify-content: space-between;
    padding: 35px;
  }

  .humburger {
    display: block;
  }

  .humburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .humburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .humburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .about {
    display: block;
    margin-left: 30px;
  }

  .about-box {
    display: block;
    margin-top: 150px;
  }

  .span {
    width: 304px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  .heading-box > h1 {
    font-size: 40px;
    padding-bottom: 10px;
  }

  .s {
    position: unset !important;
  }

  .footer {
    display: block;
    padding: 25px;
    margin-top: 30px;
  }

  .three > h4 {
    position: relative;
    top: 34px;
  }

  .two {
    margin-top: -86px;
  }

  .im {
    position: relative;
    top: 17em;
    left: -9px;
  }

  .imi {
    position: relative;
    top: 16.8em !important;
    left: -3px;
    width: 40px !important;
  }

  .heading {
    margin-left: 15px;
  }

  .input-form > button {
    margin-left: 63px;
  }

  input {
    width: 22em;
    margin-top: 6px;
  }
  label {
    position: unset !important;
    padding-top: 24px;
  }
}
