@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  font-weight: 500;
  color: black;
}

.logo {
  width: 65px;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

li {
  padding: 20px;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}

.humburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  background-color: black;
}

/* Hero Section */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 180px;
}

.heading-sec > h1 {
  font-size: 45px;
  font-weight: 400;
}

.heading-sec > span {
  margin-top: 30px;
  width: 650px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
}
button {
  margin-top: 20px;
  width: 170px;
  height: 50px;
  background-color: #ccadad;
  border: 1px solid #ccadad;
  color: white;
  font-family: "Montserrat";
  font-weight: 900;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  opacity: 0.8;
  transition: 0.7s;
}

.img-sec {
  margin-top: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.center-image {
  margin-top: -60px;
}

.img-sec > img {
  width: 400px;
}

/* about */

.about {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.about-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 150px;
  grid-gap: 170px;
  width: 55%;
  padding-bottom: 40px;
}

.heading-box {
  width: 355px;
}

.s {
  position: relative;
  top: 20px;
}

.heading-box > h1 {
  font-size: 50px;
  margin-top: 30px;
  font-weight: 400;
}

.span {
  width: 460px;
  margin-top: 60px;
}

.span > span {
  line-height: 30px;
}

/* instagram */

.instagram-feed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.instagram-feed > h1 {
  font-size: 45px;
  font-weight: 400;
}

.imag-sec {
  display: flex;
  grid-gap: 26px;
  margin-top: 50px;
  padding-bottom: 20px;
}

/* form */

.form {
  display: flex;
  justify-content: center;
  grid-gap: 50px;
}

.input-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  width: 40em;
  height: 50px;
  padding: 16px;
  margin-top: 30px;
  background-color: #e3e3e3;
  border: 1px;
  outline: none;
}

label {
  position: relative;
  top: 25px;
  color: black;
}

textarea {
  width: 40em;
  height: 90px;
  padding: 16px;
  margin-top: 30px;
  background-color: #e3e3e3;
  border: 1px;
  outline: none;
}

::placeholder {
  font-family: "Montserrat";
}

.heading > h1 {
  margin-top: 30px;
  font-size: 50px;
  font-weight: 400;
}

.heading > span {
  position: relative;
  top: 30px;
}

/* background-image-section */

.background-image-section {
  margin-top: 50px;
  background-image: url("images/photo-1511097799136-3661d1bb586c.jfif");
  height: 25em;
  background-position: center;
  background-size: cover;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  margin-top: 30px;
}

.three {
  display: flex;
  flex-direction: column;
}

.one,
.two,
.three > h4 {
  font-size: 20px;
}

.one,
.two,
.three > span {
  font-size: 16px;
  width: 100px;
}

.one > span {
  position: relative;
  top: 13px;
  line-height: 30px;
}

.two > span {
  position: relative;
  top: 13px;
  line-height: 30px;
}

.one,
.two {
  width: 191px;
}

/* Media Query */

@media screen and (max-width: 767px) {
  nav {
    justify-content: space-between;
    padding: 35px;
  }

  .humburger {
    display: block;
  }

  .humburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .humburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .humburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .s {
    position: unset !important;
  }

  .heading-sec > h1 {
    font-size: 35px;
    width: 308px;
    text-align: center;
    margin-top: 100px;
  }

  .heading-sec {
    margin-top: 50px;
  }

  .heading-sec > span {
    width: 300px;
  }

  .img-sec {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }

  .img-sec > img {
    width: 300px;
  }

  .center-image {
    margin-top: 0;
  }

  .about {
    display: block;
    margin-left: 30px;
  }

  .about-box {
    display: block;
    margin-top: 50px;
  }

  .span {
    width: 304px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  .heading-box > h1 {
    padding-bottom: 10px;
  }

  .sp {
    position: unset !important;
  }

  label {
    position: unset !important;
    padding-top: 24px;
  }

  .i {
    width: 335px;
    margin-top: 20px;
  }

  .imag-sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .imag-sec > img {
    width: 180px;
  }

  .form {
    display: block;
    margin-top: 40px;
    margin-left: 15px;
  }

  .heading > h1 {
    font-size: 30px;
    padding-bottom: 14px;
  }

  .heading > span {
    font-size: 14px;
    position: unset;
  }

  .input-form {
    margin-top: 30px;
    margin-left: 32px;
    justify-content: center;
  }

  input {
    width: 22em;
    margin-top: 6px;
  }

  textarea {
    width: 22.5em;
    margin-top: 6px;
  }

  .input-form > button {
    margin-left: 63px;
  }

  .footer {
    display: block;
    padding: 25px;
    margin-top: 30px;
  }

  .three > h4 {
    position: relative;
    top: 34px;
  }

  .two {
    margin-top: -86px;
  }

  .im {
    position: relative;
    top: 17em;
    left: -9px;
  }

  .imi {
    position: relative;
    top: 16.8em !important;
    left: -3px;
    width: 40px !important;
  }

  .heading {
    margin-left: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    justify-content: space-between;
    padding: 35px;
  }

  .humburger {
    display: block;
  }

  .humburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .humburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .humburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .heading-sec > h1 {
    font-size: 40px;
    text-align: center;
  }

  .heading-sec {
    margin-top: 50px;
  }

  .img-sec {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }

  .img-sec > img {
    width: 600px;
  }

  .center-image {
    margin-top: 0;
  }
}
